.App {
  text-align: center;
}
.searchbar{
  position: relative;
  left: 60px;
  top: 3px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.logo{
  position: absolute;
  left: 50px;
}
.homepage{
  position: absolute;
  width: 67%;
  height: 100%;
  margin-left: 245px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bottombar{
  display: none;
}
.sidebar{
  display: block;
}
@media (max-width: 960px) {
  .homepage {
    position: absolute;
    width: 90%;
    display: inline-block;
    margin-top: -35px;
    margin-left: 15px;
    margin-right: 15px;

  }
  .sidebar{
      display: none;
  }
  .bottombar{
      display: block;
  }
}