.bottombar{
    display: none;
  }
  .sidebar{
    display: block;
  }
  .news{
    display: block;
  }
  .newsprime{
    display: none;
  }
  .homepage{
    position: absolute;
    width: 67%;
    height: 100%;
    margin-left: 245px;
  }
  .Lists{
    position: absolute;
    width: 73%;
    height: 100%;
    top: 70px;
    margin-left: -50px;
  }
  .searchR{
    position: absolute;
    width: 80%;
    height: 100%;
    top: 70px;
    margin-left: 245px;
  }
  .bgname{
    font-size: 40px !important;
    font-weight: 500 !important;
  } 
  .name{
    margin-top: 15px !important;
    font-size: 15px !important;
    font-weight: 500 !important;
  }  
  .title{
    font-size: 15px !important;
    font-weight: 500 !important;
  }
  .bgprice{
    font-size: 35px !important;
    font-weight: 500 !important;
    color: brown !important;
  }
  .bgdescription{
    font-size: 20px !important;
    font-weight: 500 !important;
    color: dimgrey !important;
  }
  .boardgames{
    margin-left: 20px !important;
    width: 120% !important;
  }
  .avatar{
    margin-top: -40px !important;
    width: 70px !important;
    height: 70px !important;
    margin-left: 40px !important;
  }
  .addcart{
    position: absolute;
    display: flex;
    margin-top: 200px;
    margin-left: 150px;
    border-color: floralwhite !important;
    border: 5px solid floralwhite ;
  }
  .addAndRemove{
    margin-top: 0px !important;
    margin-left: 95px !important;
    width: 100px !important;
  }
  @media(max-width:1200px){
      .news{
          display: none;
      }
      .newsprime{
        display: block;
      }
      .Lists{
        position: block;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
      }
      .searchR{
        position: block;
        width: 90%;
        margin-left: 10px;
        margin-right: 10px !important;
      }
  }
  @media (max-width: 960px) {
    .homepage {
      position: absolute;
      width: 90%;
      display: inline-block;
      margin-top: -35px;
      margin-left: 15px;
      margin-right: 15px;
  
    }
    .sidebar{
        display: none;
    }
    .bottombar{
        display: block;
    }
  }
