.bottombar{
  display: none;
}
.sidebar{
  display: block;
}
.news{
  display: block;
}
.newsprime{
  display: none;
}
.homepage{
  position: absolute;
  width: 67%;
  height: 100%;
  margin-left: 245px;
}
.eventpage{
  position: absolute;
  width: 80%;
  height: 100%;
  margin-left: 245px;
}
.Lists{
  position: absolute;
  width: 73%;
  height: 100%;
  top: 70px;
  margin-left: -50px;
}
.searchR{
  position: absolute;
  width: 80%;
  height: 100%;
  top: 70px;
  margin-left: 245px;
}
.bgname{
  font-size: 39px !important;
  font-weight: 500 !important;
  text-align: justify;

} 
.raisedTag{
  background-color: rgba(165, 42, 42, 0.212);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.212);
  transition: 0.3s;
  width: 40%;
}
.name{
  margin-top: 15px !important;
  font-size: 20px !important;
  font-weight: 500 !important;
}  
.eventname{
  font-size: 15px !important;
  font-weight: 500 !important;
}  
.title{
  font-size: 15px !important;
  font-weight: 500 !important;
}
.bgprice{
  font-size: 35px !important;
  font-weight: 500 !important;
  color: brown !important;
}
.bgdescription{
  font-size: 20px !important;
  font-weight: 500 !important;
  color: dimgrey !important;
  text-align: justify;
}
.boardgames{
  margin-left: 20px !important;
  width: 120% !important;
}
.avatar{
  margin-top: -40px !important;
  width: 70px !important;
  height: 70px !important;
  margin-left: 40px !important;
}
.addcart{
  position: absolute;
  display: flex;
  margin-top: 200px;
  margin-left: 150px;
  border-color: floralwhite !important;
  border: 5px solid floralwhite ;
}
.addAndRemove{
  margin-top: -30px !important;
  margin-left: 140px !important;
  width: 150px !important;
}  
.addAndRemoveID{
  margin-top: -47px !important;
  margin-left: 300px !important;
  width: 120px !important;
}
.addAndRemoveFromCart{
  margin-top: 15px !important;
  width: 120px !important;
  height: 41px !important;
}
.titleCart{
  margin-top: 15px !important;

  min-width: 260px !important;
  max-width: 260px !important;

  font-size: 20px !important;
  font-weight: 500 !important;
}
.totalCost{
  margin-top: 15px !important;

  min-width: 355px !important;
  max-width: 355px !important;

  font-size: 20px !important;
  font-weight: 500 !important;
}
.priceCart{
  min-width: 200px !important;
  margin-top: 17px !important;
  font-size: 20px !important;
  font-weight: 500 !important;
}
.tagstyle{
  position: absolute;
  min-width: 80px !important;
  margin-top: 17px !important;
  margin-left: 170px;
  font-size: 20px !important;
  font-weight: 500 !important;
  transform: rotate(45deg);
  background-color: rgba(255, 255, 0, 0.555);
  border-radius: 20%;
}
@media(max-width:1200px){
    .news{
        display: none;
    }
    .newsprime{
      display: block;
    }
    .Lists{
      position: block;
      width: 100%;
      margin-left: 10px;
      margin-right: 10px;
    }
    .searchR{
      position: block;
      width: 90%;
      margin-left: 10px;
      margin-right: 10px !important;
    }
}
@media (max-width: 960px) {
  .homepage {
    position: absolute;
    width: 90%;
    display: inline-block;
    margin-top: -35px;
    margin-left: 15px;
    margin-right: 15px;

  }
  .sidebar{
      display: none;
  }
  .bottombar{
      display: block;
  }
}
